<!doctype html>
<html>
<head>
    <title>PatCat's Dialogflow Twitch Bot Bridge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    PatCat's Dialogflow Twitch Bot Bridge is running!

    <script src="chatbot.js"></script>
    <script>
    window.ultimateTwitchBotBridge = new ultimateTwitchBotBridge({
        channel: '#patcatandtech',
        username: 'patcatbot',
        password: 'oauth:wr5gz0k70j1d9bht66wpt86kd3zlas', // Need a token? https://twitchapps.com/tmi/
    });

    window.ultimateTwitchBotBridge.open();
    </script>
</body>
</html>